#testimonials h1 {
  margin-top: 30px;
  font-size: 3rem;
}

.testimonials__header {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.testimonials__skills {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.testimonial__skill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.testimonial__skill img {
  width: 100px;
}

.testimonial__skill p {
  color: #fff;
  font-size: 2rem;
  margin-top: 1px;
}

.testimonial__show {
  width: 100%;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.testimonial__show--outline {
  width: 50%;
  border: 5px dotted white;
  padding: 40px;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  max-height: 250px;
  height: 250px;
}

.testimonial__show--outline h2 {
  color: #fff;
  text-align: center;
  font-family: "librebaskerville-italic", serif;
}

.testimonial__show--outline p {
  color: wheat;
  text-align: center;
  font-family: "librebaskerville-italic", serif;
}

.header__testi {
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.header__testi h1 {
  color: red;
}
